.container {
  border: 1px solid black;
  padding: 50px;
}
.aboutus-title {
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
  background-image: linear-gradient(to right, #acacac, #7872ad, #c3c3c3);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 40px;
}

.aboutu-spar {
  font-size: 17px;
  font-family: monospace;
  color: white;
}

.aboutus-image {
  border-radius: 5px;
  width: 70%;
  margin: 50px;
}

