.footer {
  text-align: center;
  border: 0.1px solid #008e7b8a;
  padding: 20px;
  background-image: linear-gradient(to right, #325165, #5f99b7);
  margin-top: 50px;
  margin-bottom: 1px;
  color: rgb(255, 255, 255);
  font-family: monospace;
}
