.container {
  background: #ffffffc6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin-top: -8%;
  margin-top: 8%;
  margin-left: 25%;
  margin-right: 25%;
}
.register-name {
  font-size: 30px;
  margin-left: -300px;
  margin-bottom: -10px;
}

.column-style {
  display: flex;
}
.register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 80px 50px 80px;
  text-align: center;
  border-radius: 100px;
}
.input-boxs {
  border-radius: 5px;
  background-color: #f1f1f1;
  border: 0.5px solid black;
  padding: 12px 20px;
  letter-spacing: 1px;
  margin: 20px 0;
  width: 91%;
}

.first-form-column,
.second-form-column {
  margin: 15px;
}
.register-button {
  border-radius: 5px;
  border: 1px solid #f87f7f;
  background-color: #ff6781;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 50px;
  margin-left: -280px;
  margin-bottom: -50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 60ms ease-in;
}

.register-button:active {
  transform: scale(0.9);
}

.register-button:focus {
  outline: invert;
  color: #5e5e5e;
}

.Login-page-link {
  text-decoration: none;
  font-size: 13px;
  padding: 10px;
  color: #ff6781;
}
.register-login-link-lebel {
  font-size: 12px;
  margin-bottom: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
