.container1 {
  font-size: 30px;
  padding-top: 177px;
  padding-bottom: 277px;
  margin-top: 50px;
  text-align: center;

  background-image: linear-gradient(to right, #0f0c29, #241f4f, #24243e);
}

.icons {
  padding: 30px;
  width: 50px;
}

.Heder3 {
  border-radius: 5px;
  margin: 0px 400px;
  padding-top: 20px;
  padding-bottom: 100px;
  border: 1px solid rgba(0, 134, 146, 0.555);
  color: rgb(184, 184, 184);
}

.icons {
  padding: 50px-;

  border-radius: 1000px;
  color: rgb(124, 124, 124);
}

.paregraph {
  margin-right: 500px;
}
