.container1 {
  font-size: 30px;
  padding-top: 177px;
  padding-bottom: 277px;
  margin-top: 50px;
  text-align: center;

  background-image: linear-gradient(to right, #c1c1c1, #fefefe, #c1c1c1);
}

.icons {
  padding: 30px;
  width: 50px;
}

.Heder3 {
  border-radius: 5px;
  margin: 0px 400px;
  padding-top: 20px;
  padding-bottom: 100px;
  border: 1px solid rgba(0, 134, 146, 0.555);
  color: rgb(52, 52, 52);
}

.icons {
  color: rgb(0, 0, 0);
}

.paregraph {
  margin-right: 00px;
}
