.title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: monospace;
}
.profile-container {
  text-align: center;
  /* background-image: linear-gradient(to right, #d7d6d6, #ffffff, #dddddd); */
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 80px;
}

.userinputs {
  font-size: 15px;
  font-family: monospace;
  color: rgb(0, 0, 0);
  padding-top: 40px;
  padding-bottom: 10px;
}

.userprofileinputs {
  border: 2px solid rgb(93, 93, 93);
  box-shadow: 5px 5px 20px #00000093;
  border-radius: 6px;
  padding: 5px 60px;
  background-image: linear-gradient(to right, #d2d2d8cc, #c3beeec1, #8d8da4b2);
}
