/* UserProfile.css */

.profile-container {
  width: 80%;
  margin-top: 7%;
  margin-left: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.error {
  color: red;
  font-size: 18px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.user-item:hover {
  background-color: #f0f0f0;
}

.download-pdf {
  margin-left: 88%;
  padding: 8px;
  background-color: rgb(59, 59, 59);
  border-radius: 5px;
  color: #fcfcfc;
}

/* UserProfileStyles.css */

.profile-container {
  font-family: Helvetica;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.section {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 10px;
}